NEXT_PUBLIC_SUPABASE_URL=https://efaojnvpjqjkcxnktjey.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVmYW9qbnZwanFqa2N4bmt0amV5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIxMjA1NjQsImV4cCI6MjA5NzY5NjU2NH0._S2neCKVbp1PMi34gA2L_e92PcAZGzleI5xtsaiQ4pY
